{% extends 'base.html' %}
{% block css %} {{ url_for('static',filename='styles/style.css') }} {% endblock %}
{% block title %}CHANGE MEAL{% endblock %}

{% block content %}
    <div align="center" >
    <h1 class="center" style="text-align: center;">ארוחות {{meal_type}} חלופיות</h1>
    <h2 id="choose-meal" align="center" style="text-align: center;">הארוחה שנבחרה להחלפה: {{meal_cal}} קלוריות</h2>
    </div>
    <br /><br />
    <div class="daily_div">
    <table align="center" id="table_choose_meal">
      <tr>
        <td>
          {% for meal_id in dict_of_suggest_meals %}
          <table>
            <td class="meals">
              <br />{{dict_of_suggest_meals[meal_id][0]}} <br /><br /><a class="cal">{{dict_of_suggest_meals[meal_id][1]}} קלוריות</a>
            </td>

            <td class="td_choose_meal">
              <a class="link" href="{{url_for('daily_menu',new_meal=dict_of_suggest_meals[meal_id][0],meal_cal=dict_of_suggest_meals[meal_id][1],meal_type=meal_type) }}">בחר ארוחה</a>
            </td>
              <br>
          </table>
          {% endfor %}
        </td>

      </tr>
    </table>
        <br><br>
        <a align="center" class="link-bigger" href="{{url_for('daily_menu') }}">חזור לתפריט יומי</a>
        <br><br>

    </div>

{% endblock %}