{% extends 'base.html' %}
{% block css %} {{ url_for('static',filename='styles/style.css') }} {% endblock %}
{% block title %}CHANGE MEAL{% endblock %}

{% block content %}
    <div align="center" >
    <h1 style="text-align: center;">ארוחות {{meal_type}} חלופיות</h1>
    <h2 id="choose-meal" style="text-align: center;">הארוחה שנבחרה להחלפה: {{meal_cal}} קלוריות</h2>
    </div>
    <br /><br />
    <div class="daily_div">
    <table align="center" id="table_choosen_meal">
      <tr>
        <td>
          {% for meal in list_of_suggest_meals %}
          <table>
            <td class="find-td">
              <br />{{meal[0]}} <br /><br /><a class="cal">{{meal[1]}} קלוריות</a>
            </td>

            <td class="td_choosen_meal">
              <a class="link" href="{{url_for('daily_menu',new_meal=meal[0],meal_cal=meal[1],meal_type=meal_type) }}">בחר ארוחה</a>
            </td>
              <br>
          </table>
          {% endfor %}
        </td>

      </tr>
    </table>
    </div>

{% endblock %}