{% extends 'base.html' %}
{% block css %} {{ url_for('static',filename='styles/style.css') }} {% endblock %}

{% block content %}

    <h1 style="text-align: center">תפריט יומי</h1>
    <br /><br />
    <div id="daily_div">
      {% for meal in meals %}
      <table align="center" style="width: 500px">
        <tr>
          <td>
            {% if meal[2] == 'בוקר' %}
            <span class="h2">ארוחת {{meal[2]}}</span>{{meal[1]}} קלוריות
            <hr class="hr-style" />
            <table>
              <div class="daily_div">
                <td class="find-td">
                  {{meal[0]}}<br /><br>
                  <a class="link" href="{{url_for('change_meal')}}"> החלף ארוחה</a>
                </td>
              </div>
              <td class="td-ate">
                <form type="text" method="POST" >
                <input name="checkB" type="checkbox" value="brakfest" onchange="window.location.href='{{ url_for( 'disply_div') }}';"/>אכלתי<br />
                <div class="show-div">
                <span> דירוג מנה</span>
                <br />
                <button class="link" oncick="window.location.href='/#';">שמור דירוג</button>
                </div>
                </form>
              </td>
            </table>
          </td>
        </tr>
        {% endif %}
        <tr><td></td></tr>
        <tr>
          <td>
            {% if meal[2] == 'צהריים' %}
            <span class="h2">ארוחת {{meal[2]}}</span> {{meal[1]}} קלוריות
            <hr class="hr-style" />
            <table>
              <div>
                <td class="find-td">
                  {{meal[0]}}<br /><br>
                  <a class="link" href="{{url_for('change_meal')}}"> החלף ארוחה</a>
                </td>
              </div>
              <td class="td-ate">
                <form type="text" method="POST" >
                <input name="checkB" type="checkbox" value="brakfest" onchange="window.location.href='{{ url_for( 'disply_div') }}';"/>אכלתי<br />
                <div class="show-div">
                <span> דירוג מנה</span>
                <br />
                <button class="link" oncick="window.location.href='/#';">שמור דירוג</button>
                </div>
                </form>
              </td>
            </table>
          </td>
        </tr>
        {% endif %}
        <tr><td></td></tr>
        <tr>
          <td>
            {% if meal[2] == 'ביניים' %}
            <span class="h2">ארוחת {{meal[2]}}</span>{{meal[1]}} קלוריות
            <hr class="hr-style" />
            <table>
              <div class="daily_div">
                <td class="find-td">
                  {{meal[0]}}<br /><br>
                  <a class="link" href="{{url_for('change_meal')}}"> החלף ארוחה</a>
                </td>
              </div>
              <td class="td-ate">
                <form type="text" method="POST" >
                <input name="checkB" type="checkbox" value="brakfest" onchange="window.location.href='{{ url_for( 'disply_div') }}';"/>אכלתי<br />
                <div class="show-div">
                <span> דירוג מנה</span>
                <br />
                <button class="link" oncick="window.location.href='/#';">שמור דירוג</button>
                </div>
                </form>
            </table>
          </td>
        </tr>
        {% endif %}
        <tr><td></td></tr>
        <tr>
          <td>
            {% if meal[2] == 'ערב' %}
            <span class="h2">ארוחת {{meal[2]}}</span>{{meal[1]}} קלוריות
            <hr class="hr-style" />
            <table>
              <div>
                <td class="find-td">
                  {{meal[0]}}<br /><br>
                  <a class="link" href="{{url_for('change_meal')}}"> החלף ארוחה</a>
                </td>
              </div>
              <td class="td-ate">
                <form type="text" method="POST" >
                <input name="checkB" type="checkbox" value="brakfest" onchange="window.location.href='{{ url_for( 'disply_div') }}';"/>אכלתי<br />
                <div class="show-div">
                <span> דירוג מנה</span>
                <br />
                <button class="link" oncick="window.location.href='/#';">שמור דירוג</button>
                </div>
                </form>
            </table>
          </td>
        </tr>
        {% endif %}
      </table>
      {% endfor %}
    </div>

{% endblock %}