{% extends 'base.html' %}
{% block css %} {{ url_for('static',filename='styles/style.css') }} {% endblock %}

{% block content %}

    <h1 style="text-align: center">תפריט יומי</h1>
    <br /><br />
    <div id="daily_div">
      <table align="center" style="width: 500px">
        <tr>
          <td>
            <span class="h2">ארוחת בוקר</span>450 קלוריות
            <hr class="hr-style" />
            <table>
              <div class="daily_div">
                <td class="find-td">
                  חביתה<br />סלט ירקות וטחינה<br />לחם קלוי<br />
                  <a class="link" href="{{url_for('change_meal')}}"> החלף ארוחה</a>
                </td>
              </div>
              <td class="td-ate">
                <input type="checkbox" />אכלתי<br />
                <span> דירוג מנה</span>
                <br />
                <a class="link" href="/#">שמור דירוג</a>
              </td>
            </table>
          </td>
        </tr>
        <tr><td></td></tr>
        <tr>
          <td>
            <span class="h2">ארוחת צהריים</span>650 קלוריות
            <hr class="hr-style" />
            <table>
              <div>
                <td class="find-td">
                  אורז מלא<br />חזה עוף<br />
                  <a class="link" href="{{url_for('change_meal')}}"> החלף ארוחה</a>
                </td>
              </div>
              <td class="td-ate">
                <input type="checkbox" />אכלתי<br />
                <span> דירוג מנה</span>
                <br />
                <a class="link" href="/#">שמור דירוג</a>
              </td>
            </table>
          </td>
        </tr>
        <tr><td></td></tr>
        <tr>
          <td>
            <span class="h2">ארוחת ביניים</span>150 קלוריות
            <hr class="hr-style" />
            <table>
              <div class="daily_div">
                <td class="find-td">
                  תפוח<br />5 שקדים <br />
                  <a class="link" href="{{url_for('change_meal')}}"> החלף ארוחה</a>
                </td>
              </div>
              <td class="td-ate"><input type="checkbox" />אכלתי<br /></td>
            </table>
          </td>
        </tr>
        <tr><td></td></tr>
        <tr>
          <td>
            <span class="h2">ארוחת ערב</span>550 קלוריות
            <hr class="hr-style" />
            <table>
              <div>
                <td class="find-td">
                  סלט ירקות<br />לחם<br />ביצה קשה<br />
                  <a class="link" href="{{url_for('change_meal')}}"> החלף ארוחה</a>
                </td>
              </div>
              <td class="td-ate"><input type="checkbox" />אכלתי</td>
            </table>
          </td>
        </tr>
      </table>
    </div>

{% endblock %}