{% extends 'base.html' %}
{% block css %} {{ url_for('static',filename='styles/style.css') }} {% endblock %}
{% block title %}DAILY MENU{% endblock %}

{% block content %}
    <div class="daily_div">
      <br>
    <h1 style="text-align:center" >תפריט יומי</h1>
    <br />
    {% if mes != None %}
    <h3 align="center" style="color:#B30412">{{mes}}</h3>
    {% endif %}
    <br />
      {% for meal in list_of_meals %}
      <table align="center" style="width: 500px">
        <tr>
          <td>
            {% if meal[2] == 'בוקר' %}
            <span class="h2" name="type_meal" value="">ארוחת {{meal[2]}}</span>{{meal[1]}} קלוריות
              <hr class="hr-style" />
            <table>
              <div class="daily_div">
                <td class="find-td">
                  {{meal[0]}}<br /><br>
                {% if meal_name_that_eaten == [] %}
                   <a class="link" href="{{url_for('change_meal', meal_type=meal[2],meal_cal=meal[1]) }}"> החלף ארוחה</a>
                </td>
              </div>
              <td class="td-ate">
                  <form type="text" method="POST"><br>
                  <input name="checkMeal" type="checkbox" value="{{meal[0]}}"/>אכלתי<br /><br>
                      <input name="type" type="text" value=1 class="hide">
                    <div class="show-div">
                    <span> דירוג מנה</span>
                    <br>
                    <input type="radio" name="rate" value="1" style="margin-bottom: 6px" >1
                    <input type="radio" name="rate" value="2">2
                    <input type="radio" name="rate" value="3">3
                    <input type="radio" name="rate" value="4">4
                    <input type="radio" name="rate" value="5">5
                    <br />
                    <button class="rate-btn" type="submit">שמור דירוג</button>
                    </div>
                  </form>
                </td>
                </table>
              </td>
            </tr>
                  {% else %}
                    {% if meal[0] in meal_name_that_eaten %}
                  <td class="td-ate">
                  <input name="checkMeal" type="checkbox" value="{{meal[0]}}" checked/>אכלתי<br /><br>
                  </td>
                  </table>
                </td>
              </tr>
                {% else %}
                    <a class="link" href="{{url_for('change_meal', meal_type=meal[2],meal_cal=meal[1]) }}"> החלף ארוחה</a>
                </td>
              </div>
              <td class="td-ate">
                  <form type="text" method="POST"><br>
                  <input name="checkMeal" type="checkbox" value="{{meal[0]}}"/>אכלתי<br /><br>
                     <input name="type" type="text" value=1 class="hide">
                    <div class="show-div">
                    <span> דירוג ארוחה</span>
                    <br>
                    <input type="radio" name="rate" value="1" style="margin-bottom: 6px" >1
                    <input type="radio" name="rate" value="2">2
                    <input type="radio" name="rate" value="3">3
                    <input type="radio" name="rate" value="4">4
                    <input type="radio" name="rate" value="5">5
                    <br />
                    <button class="rate-btn" type="submit">שמור דירוג</button>
                    </div>
                    </form>
                  </td>
                  </table>
                  </td>
                  </tr>
              {% endif %}
            {% endif %}
        {% endif %}
        <tr><td></td></tr>
        <tr>
          <td>
            {% if meal[2] == 'צהריים' %}
            <span class="h2">ארוחת {{meal[2]}}</span> {{meal[1]}} קלוריות
            <hr class="hr-style" />
            <table>
              <div>
                <td class="find-td">
                  {{meal[0]}}<br /><br>
                  {% if meal_name_that_eaten == [] %}
                    <a class="link" href="{{url_for('change_meal', meal_type=meal[2],meal_cal=meal[1]) }}"> החלף ארוחה</a>
                  </td>
                </div>
              <td class="td-ate">
                <form type="text" method="POST"><br>
                <input name="checkMeal" type="checkbox" value="{{meal[0]}}"/>אכלתי<br /><br>
                    <input name="type" type="text" value=2 class="hide">
                <div class="show-div">
                <span> דירוג ארוחה</span>
                  <br>
                  <input type="radio" name="rate" value="1" style="margin-bottom: 6px" >1
                  <input type="radio" name="rate" value="2">2
                  <input type="radio" name="rate" value="3">3
                  <input type="radio" name="rate" value="4">4
                  <input type="radio" name="rate" value="5">5
                  <br />
                <button class="rate-btn" type="submit">שמור דירוג</button>
                </div>
                </form>
                </td>
                </table>
              </td>
            </tr>
                {% else %}
                    {% if meal[0] in meal_name_that_eaten %}
                  <td class="td-ate">
                  <input name="checkMeal" type="checkbox" value="{{meal[0]}}" checked/>אכלתי<br /><br>
                  </td>
                  </table>
                </td>
              </tr>
                {% else %}
                    <a class="link" href="{{url_for('change_meal', meal_type=meal[2],meal_cal=meal[1]) }}"> החלף ארוחה</a>
                </td>
              </div>
              <td class="td-ate">
                  <form type="text" method="POST"><br>
                  <input name="checkMeal" type="checkbox" value="{{meal[0]}}"/>אכלתי<br /><br>
                      <input name="type" type="text" value=2 class="hide">
                    <div class="show-div">
                    <span> דירוג ארוחה</span>
                    <br>
                    <input type="radio" name="rate" value="1" style="margin-bottom: 6px" >1
                    <input type="radio" name="rate" value="2">2
                    <input type="radio" name="rate" value="3">3
                    <input type="radio" name="rate" value="4">4
                    <input type="radio" name="rate" value="5">5
                    <br />
                    <button class="rate-btn" type="submit">שמור דירוג</button>
                    </div>
                    </form>
                  </td>
                  </table>
                  </td>
                  </tr>
              {% endif %}
            {% endif %}
        {% endif %}
        <tr><td></td></tr>
        <tr>
          <td>
            {% if meal[2] == 'ביניים' %}
            <span class="h2">ארוחת {{meal[2]}}</span>{{meal[1]}} קלוריות
            <hr class="hr-style" />
            <table>
              <div class="daily_div">
                <td class="find-td">
                  {{meal[0]}}<br /><br>
                  {% if meal_name_that_eaten == [] %}
                    <a class="link" href="{{url_for('change_meal', meal_type=meal[2],meal_cal=meal[1]) }}"> החלף ארוחה</a>
                </td>
              </div>
              <td class="td-ate">
                <form type="text" method="POST"><br>
                <input name="checkMeal" type="checkbox" value="{{meal[0]}}"/>אכלתי<br /><br>
                    <input name="type" type="text" value=3 class="hide">
                <div class="show-div">
                <span> דירוג ארוחה</span>
                  <br>
                  <input type="radio" name="rate" value="1" style="margin-bottom: 6px" >1
                  <input type="radio" name="rate" value="2">2
                  <input type="radio" name="rate" value="3">3
                  <input type="radio" name="rate" value="4">4
                  <input type="radio" name="rate" value="5">5
                  <br />
                <button class="rate-btn" type="submit">שמור דירוג</button>
                </div>
                </form>
                </td>
                </table>
              </td>
            </tr>
              {% else %}
                    {% if meal[0] in meal_name_that_eaten %}
                  <td class="td-ate">
                  <input name="checkMeal" type="checkbox" value="{{meal[0]}}" checked/>אכלתי<br /><br>
                  </td>
                  </table>
                </td>
              </tr>
                  {% else %}
                    <a class="link" href="{{url_for('change_meal', meal_type=meal[2],meal_cal=meal[1]) }}"> החלף ארוחה</a>
                </td>
              </div>
              <td class="td-ate">
                  <form type="text" method="POST"><br>
                  <input name="checkMeal" type="checkbox" value="{{meal[0]}}"/>אכלתי<br /><br>
                      <input name="type" type="text" value=3 class="hide">
                    <div class="show-div">
                    <span> דירוג ארוחה</span>
                    <br>
                    <input type="radio" name="rate" value="1" style="margin-bottom: 6px" >1
                    <input type="radio" name="rate" value="2">2
                    <input type="radio" name="rate" value="3">3
                    <input type="radio" name="rate" value="4">4
                    <input type="radio" name="rate" value="5">5
                    <br />
                    <button class="rate-btn" type="submit">שמור דירוג</button>
                    </div>
                    </form>
                  </td>
                  </table>
                  </td>
                  </tr>
              {% endif %}
            {% endif %}
        {% endif %}
        <tr><td></td></tr>
        <tr>
          <td>
            {% if meal[2] == 'ערב' %}
            <span class="h2">ארוחת {{meal[2]}}</span>{{meal[1]}} קלוריות
            <hr class="hr-style" />
            <table>
              <div>
                <td class="find-td">
                  {{meal[0]}}<br /><br>
                  {% if meal_name_that_eaten == [] %}
                    <a class="link" href="{{url_for('change_meal', meal_type=meal[2],meal_cal=meal[1]) }}"> החלף ארוחה</a>
                  </td>
                </div>
              <td class="td-ate">
                <form type="text" method="POST"><br>
                <input name="checkMeal" type="checkbox" value="{{meal[0]}}"/>אכלתי<br /><br>
                    <input name="type" type="text" value=4 class="hide">
                <div class="show-div">
                <span> דירוג ארוחה</span>
                  <br>
                  <input type="radio" name="rate" value="1" style="margin-bottom: 6px" >1
                  <input type="radio" name="rate" value="2">2
                  <input type="radio" name="rate" value="3">3
                  <input type="radio" name="rate" value="4">4
                  <input type="radio" name="rate" value="5">5
                  <br />
                <button class="rate-btn" type="submit">שמור דירוג</button>
                </div>
                </form>
                </td>
                </table>
              </td>
            </tr>
              {% else %}
                    {% if meal[0] in meal_name_that_eaten %}
                  <td class="td-ate">
                  <input name="checkMeal" type="checkbox" value="{{meal[0]}}" checked/>אכלתי<br /><br>
                  </td>
                  </table>
                </td>
              </tr>
            {% else %}
                    <a class="link" href="{{url_for('change_meal', meal_type=meal[2],meal_cal=meal[1]) }}"> החלף ארוחה</a>
                </td>
              </div>
              <td class="td-ate">
                  <form type="text" method="POST"><br>
                  <input name="checkMeal" type="checkbox" value="{{meal[0]}}"/>אכלתי<br /><br>
                      <input name="type" type="text" value=4 class="hide">
                    <div class="show-div">
                    <span> דירוג ארוחה</span>
                    <br>
                    <input type="radio" name="rate" value="1" style="margin-bottom: 6px" >1
                    <input type="radio" name="rate" value="2">2
                    <input type="radio" name="rate" value="3">3
                    <input type="radio" name="rate" value="4">4
                    <input type="radio" name="rate" value="5">5
                    <br />
                    <button class="rate-btn" type="submit">שמור דירוג</button>
                    </div>
                    </form>
                  </td>
                  </table>
                  </td>
                  </tr>
                {% endif %}
            {% endif %}
        {% endif %}
      </table>
      {% endfor %}
    </div>

{% endblock %}