{% extends 'base.html' %}
{% block css %} {{ url_for('static',filename='styles/home.css') }} {% endblock %}
{% block title %}HOME PAGE{% endblock %}

{% block content %}
    <div class="welcom-text">
      <h2 style="text-align: center;">ברוך הבא</h2>

      <a id="user-name">{{user.decode('utf8')[1:-1]}}</a>
    </div>
    <div class="index-content">
      <table class="index-main-table">
        <tr>
          <th>קלוריות נצרכו</th>
          <th>קלוריות נותרו</th>
          <th>קלוריות התפריט</th>
        </tr>
        <tr>
          {% for parameter in parameters %}
          {% for val in values %}
          <td class="tdt"><p>{{val[0]}}</p></td>
          <td class="tdt"><p>{{remain_cal}}</p></td>
          <td class="tdt"><p>{{parameter[0]}}</p></td>
        </tr>
        <tr>
          <td><br><br></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>פחמימות</th>
          <th>חלבונים</th>
          <th>שומנים</th>
        </tr>
        <tr>
          <td class="tdt"><p style="border-color: #DAC86D;">{{val[1]}}/{{parameter[1]}}g</p></td>
          <td class="tdt"><p style="border-color: #CDAFD5;">{{val[2]}}/{{parameter[2]}}g</p></td>
          <td class="tdt"><p style="border-color: #8DC78D;">{{val[3]}}/{{parameter[3]}}g</p></td>
          {% endfor %}
          {% endfor %}
        </tr>
      </table>
    </div>

{% endblock %}