{% extends 'base.html' %}
{% block css %} {{ url_for('static',filename='styles/nutrition.css') }} {% endblock %}

{% block content %}

    <h1 class="nutrition_title">יומן תזונה</h1><br>
    <table class="nutrition_title">
        <tr>
            {% for key in info_values %}
            <td class="td-days"><span id="date1" onclick="window.location.href='{{ url_for( 'nutrition_info', key=key) }}';">{{key}}</span></td>
            {% endfor %}
        </tr>  
    </table><br>

    <hr id="nutrition_hr">
    <br>

    {% block nutrition_info %}
    {% endblock %}

{% endblock %}
