{% extends 'nutrition_journal.html' %}

{% block nutrition_info %}


    <table class="center">
        <tr>
            <td>קלוריות</td>
            <td>פחמימות</td>
            <td>חלבונים</td>
            <td>שומנים</td>
        </tr>
        <tr>
            <td class="td-ingredient" style="border-color: #82C7E7;" ><p>900/1800</p></td>
            <td class="td-ingredient" style="border-color: #DAC86D;" ><p>210/210g</p></td>
            <td class="td-ingredient" style="border-color: #CDAFD5;"></p><p>50/50g</p></td>
            <td class="td-ingredient" style="border-color: #8DC78D;"></p><p>77/77g</p></td>
        </tr>

    </table>
    <div align=center><br>
       <table id="class_info">
		<tr style="padding-bottom: 30px;">
			<td style="margin-left: 15px;" >
                <span class="h2">ארוחת בוקר </span>450 קלוריות
                <hr class="hr-style">
                <table>
                <div class="div-hover">
                    <td class="find-td2">חביתה<br>סלט ירקות וטחינה<br>לחם קלורי<br> </td>      
                </div>
                </table>
            </td>
        
			<td >
                <span class="h2">  ארוחת ביניים</span>150 קלוריות
                <hr class="hr-style">
                <table>
                <div>
                    <td class="find-td2">תפוח<br>5 שקדים <br> <br></td>        
                </div>
               </table>
                
            </td>
		</tr>
		<tr  style="padding-top: 15px;"  >
			
			<td >
                <span class="h2"> ארוחת צהריים</span>         650 קלוריות
                <hr class="hr-style">
                <table>
                    <div>
                        <td class="find-td2">אורז מלא<br>חזה עוף<br><br></td>  
                    </div>
                 </table>
            </td>
        
			<td >
                <span class="h2"> ארוחת ערב</span>         550 קלוריות
                <hr class="hr-style">
                <table>
                    <div>
                        <td class="find-td2">  סלט ירקות<br>לחם<br>ביצה קשה</td>
                    </div>
                </table>
            </td>
		</tr>
	</table>
</div>

{% endblock %}
