{% extends 'base.html' %}
{% block css %} {{ url_for('static',filename='styles/search.css') }} {% endblock %}
{% block title %}RECIPE{% endblock %}

{% block content %}
    <div align="center" style="width: 900px;" class="center">
      <h1 class="center" style="text-align: center">פענוח מתכון</h1>
      <br><h4
        >ניתן לקבל את הערך התזונתי של כל מתכון.<br />בחרו את המצרכים של המתכון
        בתיבות,<br />ונציג לכם פלט של הערך התזונתי.</h4>
        <br>
      <hr class="hr-style"/>
        <br>
    <h2 class="h-decipher">מצרכי המתכון:</h2>

    <form type="text" method="POST" >

    <br />
        <div align="center">
            <a>יש לבחור את סוג הרכיב וכמות השימוש</a>
            <br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p style="color:rgb(54, 154, 165)">{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        <table align="center">
         <tr><td>
        <select name="1" class="option-size">
                  <option class="font-size" value="">בחר רכיב</option>
                    {% for ingre in all_ingredietns %}
                  <option value="{{ ingre[0] }}">{{ ingre[1] }}, {{ ingre[2] }}</option>
                  {% endfor %}
         </select>
         </td>
         <td>
         <input type="number" class="num_ingre" name="num1" min="1" max="10" placeholder="כמות מרכיב זה" />
         </td>
         </tr>
         <tr><td>
        <select name="2" class="option-size">
                  <option value="">בחר רכיב</option>
                    {% for ingre in all_ingredietns %}
                  <option value="{{ ingre[0] }}">{{ ingre[1] }}, {{ ingre[2] }}</option>
                  {% endfor %}
         </select>
         </td>
         <td>
         <input type="number" class="num_ingre" name="num2" min="1" max="10" placeholder="כמות מרכיב זה" />
         </td>
         </tr>
            <tr><td>
        <select name="3" class="option-size">
                  <option value="">בחר רכיב</option>
                    {% for ingre in all_ingredietns %}
                  <option value="{{ ingre[0] }}">{{ ingre[1] }}, {{ ingre[2] }}</option>
                  {% endfor %}
         </select>
         </td>
         <td>
         <input type="number" class="num_ingre" name="num3" min="1" max="10" placeholder="כמות מרכיב זה" />
         </td>
         </tr>
            <tr><td>
        <select name="4" class="option-size">
                  <option value="">בחר רכיב</option>
                    {% for ingre in all_ingredietns %}
                  <option value="{{ ingre[0] }}">{{ ingre[1] }}, {{ ingre[2] }}</option>
                  {% endfor %}
         </select>
         </td>
         <td>
         <input type="number" class="num_ingre" name="num4" min="1" max="10" placeholder="כמות מרכיב זה" />
         </td>
         </tr>
            <tr><td>
        <select name="5" class="option-size">
                  <option value="">בחר רכיב</option>
                    {% for ingre in all_ingredietns %}
                  <option value="{{ ingre[0] }}">{{ ingre[1] }}, {{ ingre[2] }}</option>
                  {% endfor %}
         </select>
         </td>
         <td>
         <input type="number" class="num_ingre" name="num5" min="1" max="10" placeholder="כמות מרכיב זה" />
         </td>
         </tr>
            <tr><td>
        <select name="6" class="option-size">
                  <option value="">בחר רכיב</option>
                    {% for ingre in all_ingredietns %}
                  <option value="{{ ingre[0] }}">{{ ingre[1] }}, {{ ingre[2] }}</option>
                  {% endfor %}
         </select>
         </td>
         <td>
         <input type="number" class="num_ingre" name="num6" min="1" max="10" placeholder="כמות מרכיב זה" />
         </td>
         </tr>
            <tr><td>
        <select name="7" class="option-size">
                  <option value="">בחר רכיב</option>
                    {% for ingre in all_ingredietns %}
                  <option value="{{ ingre[0] }}">{{ ingre[1] }}, {{ ingre[2] }}</option>
                  {% endfor %}
         </select>
         </td>
         <td>
         <input type="number" class="num_ingre" name="num7" min="1" max="10" placeholder="כמות מרכיב זה" />
         </td>
         </tr>
            <tr><td>
        <select name="8" class="option-size">
                  <option value="">בחר רכיב</option>
                    {% for ingre in all_ingredietns %}
                  <option value="{{ ingre[0] }}">{{ ingre[1] }}, {{ ingre[2] }}</option>
                  {% endfor %}
         </select>
         </td>
         <td>
         <input type="number" class="num_ingre" name="num8" min="1" max="10" placeholder="כמות מרכיב זה" />
         </td>
         </tr>
            <tr><td>
        <select name="9" class="option-size">
                  <option value="">בחר רכיב</option>
                    {% for ingre in all_ingredietns %}
                  <option value="{{ ingre[0] }}">{{ ingre[1] }}, {{ ingre[2] }}</option>
                  {% endfor %}
         </select>
         </td>
         <td>
         <input type="number" class="num_ingre" name="num9" min="1" max="10" placeholder="כמות מרכיב זה" />
         </td>
         </tr>
            <tr><td>
        <select name="10" class="option-size">
                  <option value="">בחר רכיב</option>
                    {% for ingre in all_ingredietns %}
                  <option value="{{ ingre[0] }}">{{ ingre[1] }}, {{ ingre[2] }}</option>
                  {% endfor %}
         </select>
         </td>
         <td>
         <input type="number" class="num_ingre" name="num10" min="1" max="10" placeholder="כמות מרכיב זה" />
         </td>
         </tr>

        </table>
        </div>
        <br><br>

    <div style="width: 30%" class="center">
      <span class="center"> כמות מנות שנוצרות:</span>
      <input type="number" id="number" name="meals_number" min="1" max="20" />
      <br />
      <input type="submit" id="button-decopher" value="פענוח מתכון">
    </div>
    </form>

        <br><br>

        <div>
        {% block recipe_result %}
        {% endblock %}
        </div>

{% endblock %}