{% extends 'base.html' %}
{% block css %} {{ url_for('static',filename='styles/search.css') }} {% endblock %}
{% block title %}SEARCH{% endblock %}

{% block content %}

    <div id="find_div">
      <h1 style="text-align: center">חיפוש רכיב/מנה/ארוחה</h1>
        <br>
        <form type="text" method="POST" >
      <input name="item" type="search" placeholder="הקלד ערך לחיפוש..." id="input-search" />
         {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <br>
        <input class="find-btn" type="submit" value="חפש"/>
        </form>
    </div>
    <br />
    <br />
    <h2 class="center">רכיבים/ מנות פופלריות</h2>
    <div id="find_div_info" align="center">
      <table id="table_of_dishes" align="center">
        <tr>
          <td align="center" colspan="2"><br></td>
        </tr>
        <tr>
          <td><input type="button" value="אורז" class="find-table" onclick="window.location.href='{{ url_for( 'search_result', search_value='אורז' )}}';"/></td>
          <td><input type="button" value="חזה עוף" class="find-table" onclick="window.location.href='{{ url_for( 'search_result', search_value='חזה עוף' )}}';"/></td>
          <td><input type="button" value="ביצים" class="find-table" onclick="window.location.href='{{ url_for( 'search_result', search_value='ביצים' )}}';"/></td>
          <td><input type="button" value="ירקות" class="find-table" onclick="window.location.href='{{ url_for( 'search_result', search_value='ירקות' )}}';"/></td>
        </tr>
        <tr>
          <td><input type="button" value="אבוקדו" class="find-table" onclick="window.location.href='{{ url_for( 'search_result', search_value='אבוקדו' )}}';"/></td>
          <td><input type="button" value="לחם" class="find-table" onclick="window.location.href='{{ url_for( 'search_result', search_value='לחם' )}}';"/></td>
          <td><input type="button" value="סלמון" class="find-table" onclick="window.location.href='{{ url_for( 'search_result', search_value='סלמון' )}}';"/></td>
          <td><input type="button" value="גבינה" class="find-table" onclick="window.location.href='{{ url_for( 'search_result', search_value='גבינה' )}}';"/></td>
        </tr>
        <tr>
          <td><input type="button" value="חביתה" class="find-table" onclick="window.location.href='{{ url_for( 'search_result', search_value='חביתה' )}}';"/></td>
          <td><input type="button" value="שעועית" class="find-table" onclick="window.location.href='{{ url_for( 'search_result', search_value='שעועית' )}}';"/></td>
          <td><input type="button" value="סלט" class="find-table" onclick="window.location.href='{{ url_for( 'search_result', search_value='סלט' )}}';"/></td>
          <td><input type="button" value="טונה" class="find-table" onclick="window.location.href='{{ url_for( 'search_result', search_value='טונה' )}}';"/></td>
        </tr>
      </table>
        <br><br><br>
    </div>

    <div align="center"><input type=button class="btn" value="לפענוח מתכון לחץ כאן" onclick="window.location.href='{{ url_for( 'recipe') }}';"></input></div>


{% endblock %}
