* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #2F2E2E;
  height: 2.5rem;
}
.navbar-brand {
  color: white;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  margin-left: 12px;
  height: 100%;
  padding: 6px;
}
.navbar-brand:hover {
  text-shadow: 2px 1px 2px rgb(249,181,66);
  font-weight: bold;
}

.welcom-text {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  padding-top: 2rem;
  color: #369AA5;
}
#user-name{
  align:center;
  text-align:center;
}
.index-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.index-main-table {
  margin-top: 1rem;
  width: 60%;
  font-size: 20px;
}
.index-main-table tdt {
  min-width: 100px;
  text-align: center;
  align-items: center;
}
.index-main-table p {
  text-align: center;
  border-style: solid;
  padding: 6px;
  border-radius: 15px;
  border-width: 3.5px;
}
