* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #2F2E2E;
  height: 2.5rem;
}
.navbar-brand {
  color: white;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  margin-left: 12px;
  height: 100%;
  padding: 6px;
}
.navbar-brand:hover {
  text-shadow: 2px 1px 2px rgb(249,181,66);
  font-weight: bold;
}


#nutrition-div{
  display: flex;
  flex-direction: column;
  -width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align:center;
}
.nutrition_title {
  margin: 0 auto;
  text-align: center;
  width: 520px;
}
#td-days {
  font-size:18px;
}
#td-days:hover {
  border-radius: 15px;
  background-color: rgb(235, 211, 235);
  border-width: 1px;
  -width: 20%;
  margin-left: 10px;
  cursor: pointer;
}
#nutrition_hr {
  width: 500px;
  border-top: 3px solid black;
  margin: auto;
  text-align: center;
}


#date{
  font-size:19px;
  color:#369AA5;
  font-weight: bold;
}
.center {
  margin: 0 auto;
  text-align: center;
  width:30%
}
.td-ingredient {
  font-size:18px;
  border-radius: 15px;
  border-width: 3px;
  text-align: center;
  border-style: solid;
  width: 105px;
}
#class_info{
    width: 60%;
}
.h2 {
  text-decoration-color: rgb(98, 157, 68);
  color: #369AA5;
  font-size: large;
  margin-left: 15px;
  font-weight: bold;
}
.hr-style {
  border-top: 2px solid black;
  width: 85%;
  margin: 0px;
}
.find-td2 {
  border-radius: 10px;
  width: 140px;
  height: 70px;
  padding-right: 10px;
  background-color: rgb(238,238,238);
  font-size: 17px;
  padding: 10px;
  -spacing: 15px;
}
