* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #2F2E2E;
  height: 2.5rem;
}
.navbar-brand {
  color: white;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  margin-left: 12px;
  height: 100%;
  padding: 6px;
}
.navbar-brand:hover {
  text-shadow: 2px 1px 2px rgb(249,181,66);
  font-weight: bold;
}


.daily_div {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}
.td {
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(242,241,239);
  margin: 25px;
  text-align: center;
  width: 33%;
}
.h2 {
  text-decoration-color: rgb(98, 157, 68);
  color: #369AA5;
  font-size: x-large;
  margin-left: 15px;
  font-weight: bold;
}
.hr-style {
  align: center
  width: 30%;
  border-top: 3px solid black;
}
.meals {
  border-radius: 10px;
  width: 140px;
  height: 70px;
  padding-right: 10px;
  background-color: rgb(242,241,239);
  font-size: 17px;
  padding: 10px;
  -spacing: 15px;
}
.td-ate {
  padding-right: 50px;
}
.link{
  color: black;
}
.hide{
  display:none;
}
.rate-btn{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #FFB30F;
  border-radius: 4px;
  width: 100px;
  height: 30px;
}


.center {
  margin: 0 auto;
  text-align: center;
  margin-right: 90px;
}
#choose-meal {
  border-radius: 18px;
  background-color: #75BCC4;
  width: 35%;
  margin: 0 auto;
  margin-top: 10px;
  -margin-right: 570px;
}
#table_choose_meal {
  margin: 0 auto;
  width: 55%;
}
.cal{
  color: #25939F;
}
.td_choose_meal {
  padding-right: 15px;
  margin-top: 5px;
  width: 80px;
  margin-left: 15px;
}
.link-bigger{
  color: black;
  font-size:23px;
}