* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #2F2E2E;
  height: 2.5rem;
}
.navbar-brand:hover {
  text-shadow: 2px 1px 2px rgb(249,181,66);
  font-weight: bold;
}
.navbar-brand {
  color: white;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  margin-left: 12px;
  height: 100%;
  padding: 6px;
}
#welcome_image {
  vertical-align: middle;
  text-align: center;
  width: 329px;
  height: 53px;
}

.welcome {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  padding-top: 50px;
  color: rgb(0,0,0);
}

.enter-detailes {
  width: 250px;
  height: 20px;
  border-radius: 10px;
}

#button{
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  background-color: #FFB30F;
  border-radius: 4px;
  width: 150px;
  height: 45px;
}
.link{
  font-size:18px;
}
